@model DogGo.Models.ViewModels.WalkerProfileViewModel
@{
    ViewData["Title"] = "Walker Profile";
}
<div style="padding-left:100px; background-color: #f9f9f9">
    <div id="walkerInfo">
    <h1 class="mb-4">Walker Profile</h1>

    <section class="container">
    <img
      style="width:100px;float:left;margin-right:20px"
      src="@Model.Walker.ImageUrl" alt="person"
    />

        <div>
            <label class="font-weight-bold">Name:</label>
            <span>@Model.Walker.Name</span>
        </div>
        <div>
            <label class="font-weight-bold">Neighborhood:</label>
            <span>@Model.Walker.Neighborhood.Name</span>
        </div>
    </section>
    </div>

    <hr class="mt-5" />
    <div class="clearfix"></div>

    <section id="walkInfo" style="display: flex; justify-content: space-between">
    <div id="walkTable">

        <section>
            <h1 class="text-left">Recent Walks</h1>
        </section>

        <table class="table">

            <thead>
                <tr>
                    <th>Date</th>
                    <th>Client</th>
                    <th>Duration</th>
                </tr>
            </thead>

            <tbody>
                @foreach (Walk walk in Model.Walks)
                {
                    <tr>
                        <td>
                            @walk.Date
                        </td>
                        <td>
                            @walk.Dog.Owner.Name
                        </td>
                        <td>
                            @(walk.Duration / 60) minutes
                        </td>                        
                    </tr>                        
                }
            </tbody>

        </table>
        </div>

        <div id="duration" style="background-color: #f5f7fb;padding-left:20px;padding-right:50px">
            <section>
            <h2>Total Walk Time</h2>
        @{
            int totalTimeInSeconds = 0;
            foreach (Walk walk in Model.Walks)
            {
                totalTimeInSeconds += walk.Duration;
            }
            int totalTimeInMinutes = totalTimeInSeconds / 60;
            int totalMinuesRemaining = totalTimeInMinutes % 60;
            int totalTimeInHours = totalTimeInMinutes / 60;
            
        }
        @(totalTimeInHours) hrs @(totalMinuesRemaining) min
        </section>
        </div>
    </section>
</div>